*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    color: black;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100vw;
    background-color: #f5f7f8;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 9999999;
}

.header{
    height: auto;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

.icon a {
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar ul li {
    margin: 0 15px;
    display: flex;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: color 0.3s;

}

.nav-bar ul li a:hover {
    color: #c58c41;
}

.actions {
    display: flex;
    align-items: center;
}

.actions input[type='text'] {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 1000px;
    margin-right: 10px;
}

.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 1000px;
    background-color: #D9d9d9;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.title img{
    width: auto;
    height: auto;
}

.see-more{
    width: auto;
    height: 75px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.see-more-products{
    width: 100px;
    height: auto;
}

.see-more-products-honda{
    width: 75px;
    height: 50px;
    object-fit: cover;
}

.see-more .bx-right-arrow-alt{
    width: 100px;
    height: auto;
    font-size: 1.5em;
    text-align: center;
}


.actions button:hover {
    z-index: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}

.buttons {
    position: relative;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-btn {
    position: relative;
    background-color: #f6f6f6;
    border: none;
    height: 50px;
    width: 400px;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.212);
}

.main-btn:hover{
    background-color: #fff;
}

.text {
    position: relative;
    z-index: 3;
    transition: .5s;
}

.main-btn:hover .text {
    color: #000;
}

.hatchback{
    display: flex;
}

.honda{
    max-width: 1440px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: black;
    padding-top: 50px;
}

.title .hondas{
    width: 300px;
    height: 150px;
    margin-bottom: 50px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.card-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.card{
    padding: 10px 10px;
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    transition: all .3s ease;
    cursor: pointer;
    background: #fff;
    position: relative;

}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content{
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
    height: 100%;
    transition: opacity 0.3s ease;
}

.card-content .content{
    flex: 1;
}

.card-title{
    font-size: 1.2em;
    margin: 0;
    color: #000000;
}

.card-description{
    /* display: none; */
    margin: 10px 0;
    font-size: 0.9em;
    color: #555;
}

/* .card.expanded .card-description{
    display: block;
} */

.card.expanded{
    width: 1100px;
    height: 400px;

}

.card.expanded .card{
    opacity: 0;
}

.card.expanded img{
    display: none;
}

.card.expanded .card-description{
    opacity: 0;
    display: none;
}

.card.expanded .card-title{
    opacity: 0;
    display: none;
}

.card-info{
    display: none;
    font-size: .9em;
    color: #555;
    position: absolute;
}

.card-info h3{
    text-align: center;
    margin-bottom: 15px;
}

.card.expanded .card-info{
    display: block;
    padding: 5px;
    background: #f9f9f9;
}

.promos{
    margin: 5rem auto;
    font-family: Arial, sans-serif;
    color: black;
    padding-bottom: 5em;
}

.Promos{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.slider{
    width: 1300px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.349);
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.buttons-promos{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons-promos button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(53, 51, 51, 0.575);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: rgb(3, 70, 253);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #00aeff;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.dots li.active{
    width: 30px;

}

.card-info-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card-information{
    width: auto;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px;
}

.details{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}

.process-btn{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    padding-top: 70px;
}

.goback-btn{
    width: 300px;
    height: 25px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.349);
}

.purchase-btn{
    width: 300px;
    height: 25px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.349);
}
#loaning {
    text-align: center;
    display: flex;
    justify-content: center;
}

#loan {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#autoloan {
    position: absolute;
    top: 3300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1340px;
    max-height: 620px;
    display: flex;
}

#autoloanh1 {
    position: relative;
    top: 480px;
    right: 200px;
    font-size: 50px; 
    color: white; 
}

#financing {
    position: relative;
    right: 150px;
    font-size: 30px;
    color: black;
    bottom: -610px;
    font-weight: lighter;
}

.loaningsec {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: white;
    max-width: 1440px;
    
}

#bpi {
    position: relative;
    height: 250px;
    top: 670px;
    background-color: white;
    align-items: center;
}

#bpi h3 {
    position: relative;
    text-align: left;
    top: 60px;
    left: 700px;
    color: #004354;
}

#bpip {
    text-align: left;
    position: relative;
    left: 700px;
    top: 100px;
}

#boc {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 4400px;
    background-color: white;
}

#boch3 {
    text-align: left;
    position: relative;
    left: 250px;
    top: 50px;
    color: #004354;
}

#bocp {
    text-align: left;
    position: relative;
    left: 250px;
    top: 90px;
}

#bdo {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 4700px;
    background-color: white;
    margin: 0 auto;
}

#bdoh3 {
    text-align: left;
    position: relative;
    top: 60px;
    left: 700px;
    color: #004354;
}

#bdop {
    text-align: left;
    position: relative;
    left: 700px;
    top: 100px;
}

#cbs {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 5000px;
    background-color: white;
    margin: 0 auto;
}

#cbsh3 {
    text-align: left;
    position: relative;
    left: 250px;
    top: 50px;
    color: #004354;
}

#cbsp {
    text-align: left;
    position: relative;
    left: 250px;
    top: 90px;
}

#ewbc {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 5300px;
    background-color: white;
    margin: 0 auto;
}

#ewbch3 {
    text-align: left;
    position: relative;
    top: 60px;
    left: 700px;
    color: #004354;
}

#ewbcp {
    text-align: left;
    position: relative;
    left: 700px;
    top: 100px;
}

#mp {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 5600px;
    background-color: white;
    margin: 0 auto;
}

#mph3 {
    text-align: left;
    position: relative;
    left: 250px;
    top: 50px;
    color: #004354;
}

#mpp {
    text-align: left;
    position: relative;
    left: 250px;
    top: 90px;
}

#psb {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 5900px;
    background-color: white;
    margin: 0 auto;
}

#psbh3 {
    text-align: left;
    position: relative;
    top: 60px;
    left: 700px;
    color: #004354;
}

#psbp {
    text-align: left;
    position: relative;
    left: 700px;
    top: 100px;
}

#rcbc {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 6200px;
    background-color: white;
    margin: 0 auto;
}

#rcbch3 {
    text-align: left;
    position: relative;
    left: 250px;
    top: 50px;
    color: #004354;
}

#rcbcp {
    text-align: left;
    position: relative;
    left: 700px;
    top: 100px;
}

#rb {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 6500px;
    background-color: white;
    margin: 0 auto;
}

#rbh3 {
    text-align: left;
    position: relative;
    top: 60px;
    left: 700px;
    color: #004354;
}

#rbp {
    text-align: left;
    position: relative;
    left: 700px;
    top: 100px;
}


.readmore {
    position: relative;
    display: flex;
    padding: 10px 20px;
    left: 700px;
    top: 120px;
    width: 240px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #D9d9d9;
    color: #004354;
    cursor: pointer;
}

.readmore-arrow {
    background-color: #d9d9d9;
    position: relative;
    left: 465px;
    top: -143px;
    color: hsl(192, 100%, 16%);
    padding: 10px;
    cursor: pointer;
}

.readmore:hover {
    background-color: white;
    border-bottom: 2px solid hsl(192, 100%, 16%);
    color: #004354;
}

.readmore-arrow:hover {
    background-color: hsl(192, 100%, 16%);
    color: #D9d9d9;
}

.readmore2 {
    position: relative;
    display: flex;
    padding: 10px 20px;
    left: 250px;
    top: 130px;
    width: 200px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #D9d9d9;
    color: #004354;
    cursor: pointer;
}

.readmore-arrow2 {
    background-color: #d9d9d9;
    position: relative;
    left: -25px;
    bottom: 133px;
    color: hsl(192, 100%, 16%);
    padding: 10px;
    cursor: pointer;
}

.readmore2:hover {
    background-color: white;
    border-bottom: 2px solid hsl(192, 100%, 16%);
    color: #004354;
}

.readmore-arrow2:hover {
    background-color: hsl(192, 100%, 16%);
    color: #D9d9d9;
}

footer {
    text-align: center;
}

.gmail {
    position: relative;
    text-align: center;
    bottom: -3150px;
}